#statistics {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  border-top: solid 2px var(--color-five);
}

#statistics > h1 {
  grid-row: 1;
}

#statistics > div {
  grid-row: 2;
}
#statistics > section {
  overflow-y: auto;
  grid-row: 3;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  height: 500px;
}

#statistics > section:last-child {
  display: grid;
  grid-template-rows: 10% 90%;
}

#statistics > section h2 {
  margin: 0;
}

#loggedInArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 42px);
}

#loggedInArea svg {
  height: 20vw;
  width: 20vw;
}

#statistics > div:nth-of-type(1) {
  margin-bottom: 1%;
}

#statistics a {
  font-size: 2em;
}

#statistics a:hover {
  color: var(--color-one-hover);
  text-decoration-color: var(--color-one-hover);
}

#statistics .active {
  color: #57b38d;
  text-decoration: underline;
  text-decoration-color: #57b38d;
}

#chartArea {
  justify-self: center;
  height: 80%;
  background-color: white;
  grid-template-columns: repeat(6, 120px);
  display: grid;
  border-radius: 10px;
}

#chartArea .chartUnit {
  height: 90%;
  justify-self: center;
}
#chartArea .chartUnit .barChart {
  width: 70px;
  height: 90%;
  transform: rotate(180deg);
  background-color: var(--color-five);
  border: solid 2px black;
}
#chartArea .chartUnit .barChart .barPercentage {
  background-color: var(--color-six);
  color: black;
  transform: rotate(180deg);
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  font-family: var(--primary-font);
  border-top: solid black 4px;
}
#chartArea .chartUnit .barText {
  transform: translate(0px, 40px) rotate(35deg);
  font-size: 0.8em;
}
